{% extends "navbar.html" %}
{% block titulo %}Editar Proveedor{% endblock %}
{% block contenido %}
<div class="card edit-user-card">
    <div class="card-header">
        <h3 class="text-center" title="Editar proveedor">EDITAR PROVEEDOR: {{ proveedor.nombre }}</h3>
    </div>
    <div class="card-body">
        <form method="POST" id="form-editar" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderiza todos los campos del formulario como párrafos -->

            <div class="botones">
                <button class="btn btn-success" type="submit" title="Guardar cambios">Guardar Cambios</button>
                <a class="btn btn-warning" href="{% url 'listar_proveedor' %}" role="button" title="Cancelar">Cancelar</a>
            </div>
        </form>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
