{% extends "navbar.html" %}
{% load static %}
{% block titulo %}Clientes Registrados{% endblock %}
{% block contenido %}

<!-- Bibliotecas para generación de PDFs y Excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

<!-- Solo usa una versión de html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<!-- html2pdf debe estar al final después de html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="{% static 'css/consultar_clientes.css' %}?v={% now 'U' %}" rel="stylesheet" />
<link href="{% static 'css/eliminar_cliente.css' %}?v={% now 'U' %}" rel="stylesheet" />

<div class="container">
    <h2 title="Clientes Registrados">Clientes Registrados</h2>
    <div class="toolbar">
        <form id="search-form">
            <select id="search-select" title="Seleccionar criterio de búsqueda">
                <option value="todos">Todos</option>
                <option value="tipo_cliente">Tipo Cliente</option>
                <option value="nombre">Nombre</option>
                <option value="email">Email</option>
                <option value="telefono">Teléfono</option>
                <option value="direccion">Dirección</option>
            </select>
            <input id="search-input" type="text" style="display: none;" placeholder="Buscar..." title="Buscar">
            <input class="btn btn-success" type="submit" value="Buscar" title="Buscar"/>
        </form>
        <p id="search-warning" style="color: red; display: none;"></p>

        <div class="opciones" title="Opciones adicionales para gestionar clientes">
            <a class="opc" onclick="printTable()" title="Imprimir la lista de clientes" aria-label="Imprimir clientes">
                <i class="bi bi-printer" aria-hidden="true"></i>
                <span>Imprimir</span>
            </a>
            <a class="opc" href="{% url 'reporte_excel_cliente' %}" role="button" title="Descargar tabla en Excel" aria-label="Descargar tabla en Excel">
                <i class="fas fa-file-excel text-white" aria-hidden="true"></i> 
                <span>Descargar Excel</span>
            </a>
            <a class="opc" href="{% url 'reporte_pdf_cliente' %}" role="button" title="Descargar tabla en PDF" aria-label="Descargar tabla en PDF">
                <i class="fas fa-file-pdf text-white" aria-hidden="true"></i> 
                <span>Descargar PDF</span>
            </a>
            <a class="opc" href="{% url 'crear_cliente' %}" role="button" title="Crear clientes" aria-label="Crear clientes">
                <i class="fas fa-users" aria-hidden="true"></i> 
                <span>Crear clientes</span>
            </a>
        </div>
    </div>

    <div id="search-results">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th title="Tipo de cliente">Tipo Cliente</th>
                    <th>Tipo de documento</th>
                    <th>Número de documento</th>
                    <th title="Nombre">Nombre</th>
                    <th title="Email">Email</th>
                    <th title="Teléfono">Teléfono</th>
                    <th title="Dirección">Dirección</th>
                    <th title="Registrado por">Registrado por</th>
                    <th title="Acciones">Acciones</th>
                </tr>
            </thead>
            <tbody title="Cuerpo de la tabla con información de los clientes">
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.tipo_cliente|capfirst }}</td>
                        <td>{{ cliente.tipo_documento }}</td>
                        <td>{{ cliente.documento }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>{{ cliente.telefono }}</td>
                        <td>{{ cliente.direccion }}</td>
                        <td>
                            {{ cliente.registrado_por.name }}

                        </td>
                        <td>
                            <a href="{% url 'editar_cliente' cliente.pk %}" class="btn btn-warning btn-sm" title="Editar cliente" aria-label="Editar cliente">
                                <i data-feather="edit" class="icon-small" aria-hidden="true"></i>
                            </a>
                            {% if user.role == 'Administrador' %}
                            <a href="javascript:void(0);" class="btn btn-danger btn-sm" title="Eliminar cliente" aria-label="Eliminar cliente" onclick="showModal('{{ cliente.pk }}', '{{ cliente.nombre }}')">
                                <i data-feather="trash" class="icon-small" aria-hidden="true"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p id="no-results" style="display: none;" title="No se encontraron resultados">No se encontraron resultados.</p>
        <a class="btn btn-warning" href="{% url 'clientes' %}" role="button" title="Volver" aria-label="Volver">Volver</a>
    </div><br>
</div>

<!-- Overlay para modal -->
<div id="overlay" class="overlay" style="display: none;"></div>

<!-- Modal para eliminar cliente -->
<div class="card" id="eliminar_cliente" style="display: none;">
    <div class="card-header text-center">
        <h3 class="mb-0" title="Eliminar cliente"><b>ELIMINAR CLIENTE</b></h3>
    </div>
    <div class="card-body">
        <p class="confirmation-message" style="text-align: center;">
            ¿Estás seguro de que quieres eliminar a <span id="cliente-nombre"></span>?
        </p>
        <form method="post" id="delete-form">
            {% csrf_token %}
            <div class="card-footer">
                <input class="btn btn-danger" type="submit" value="Eliminar" title="Eliminar cliente" aria-label="Eliminar cliente"/>
                <a class="btn btn-warning" href="#" onclick="cerrarVentana()" role="button" title="Cancelar" aria-label="Cancelar">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<!-- Marca de agua -->
<img src="{% static 'imagen/logo.png' %}" class="watermark" alt="Marca de agua de la empresa">
<div id="watermark-url" data-url="{% static 'imagen/logo_hedybed.png' %}"></div>
<script>
    const watermarkUrl = "{% static 'imagen/logo_hedybed.png' %}";
</script>

<script src="{% static 'js/consultar_clientes.js' %}?v={% now 'U' %}"></script>
<script src="{% static 'js/eliminar_cliente.js' %}?v={% now 'U' %}"></script>
<script>
    feather.replace();  // Inicializa los iconos feather
</script>

{% endblock %}
