{% extends "navbar.html" %}
{% load static %}
{% block titulo %}Inicio{% endblock %}
<link rel="icon" type="image/x-icon" href="{% static 'imagen/logol.png' %}">

{% block contenido %}
<link href="{% static 'css/index.css' %}?v={% now 'U' %}" rel="stylesheet" />

<body>

  <br><br>

  {% if user.is_authenticated %}
  <section class="company-info">
    <h2>Misión</h2>
    <p>Nuestra misión es ofrecer productos lácteos de alta calidad, frescos y nutritivos, contribuyendo al bienestar de
      nuestras comunidades.
      Trabajamos con ganaderos locales para garantizar que nuestros productos sean elaborados con los mejores
      ingredientes, promoviendo la sostenibilidad y el desarrollo local.</p>

    <h2>Visión</h2>
    <p>Ser reconocidos como líderes en la producción y distribución de lácteos en la región, innovando constantemente en
      nuestros procesos y productos
      para satisfacer las necesidades de nuestros clientes, mientras fomentamos prácticas responsables y sostenibles.
    </p>

    <h2>Quiénes somos</h2>
    <p>Somos una empresa de lácteos ubicada en el municipio de Belén, Boyacá, comprometida con la calidad y la frescura.
      Contamos con un equipo apasionado y experimentado que trabaja en armonía con los productores locales,
      asegurando que cada producto que ofrecemos sea un reflejo de nuestra dedicación al sabor y la nutrición.</p>

    <h2>Algunos de nuestros productos</h2>
    <ul>
      <li>Leche pasteurizada</li>
      <li>Quesos crema, doble crema, pera, mozzarella</li>
      <li>Mantequilla y crema</li>
    </ul>
  </section>
  {% else %}
  <h2 title="Bienvenido, inicia sesión">¡Hola!</h2>
  <p title="Inicia sesión">Por favor, <a href="{% url 'libreria:login' %}">inicia sesión</a> para acceder a las
    funcionalidades de tu cuenta.</p>
  {% endif %}
</body>

{% endblock %}