{% extends "navbar.html" %}
{% load static %}
{% block titulo %}Inicio{% endblock %}
<link rel="icon" type="image/x-icon" href="{% static 'imagen/logol.png' %}">

{% block contenido %}
<link href="{% static 'css/index.css' %}?v={% now 'U' %}" rel="stylesheet" />

<body>

  <br><br>

  {% if user.is_authenticated %}
  <section class="company-info">
    <h2>Misión</h2>
    <p>Nuestra misión es ofrecer productos lácteos de alta calidad, frescos y nutritivos, contribuyendo al bienestar de
      nuestras comunidades.
      Trabajamos con ganaderos locales para garantizar que nuestros productos sean elaborados con los mejores
      ingredientes, promoviendo la sostenibilidad y el desarrollo local.</p>

    <h2>Visión</h2>
    <p>Ser reconocidos como líderes en la producción y distribución de lácteos en la región, innovando constantemente en
      nuestros procesos y productos
      para satisfacer las necesidades de nuestros clientes, mientras fomentamos prácticas responsables y sostenibles.
    </p>

    <h2>Quiénes somos</h2>
    <p>Somos una empresa de lácteos ubicada en el municipio de Belén, Boyacá, comprometida con la calidad y la frescura.
      Contamos con un equipo apasionado y experimentado que trabaja en armonía con los productores locales,
      asegurando que cada producto que ofrecemos sea un reflejo de nuestra dedicación al sabor y la nutrición.</p>

    <h2>Algunos de nuestros productos</h2>
    <ul>
      <li>Leche pasteurizada</li>
      <li>Quesos crema, doble crema, pera, mozzarella</li>
      <li>Mantequilla y crema</li>
    </ul>
  </section>
  {% else %}
  <section class="sec-login">
    <div class="div-login">
      <p>Por favor, <a href="{% url 'libreria:login' %}">Inicia sesion</a></p>
    </div>
  </section>
  {% endif %}
  <style>
.container {
    width: 90%;
    max-width: 1200px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    border: 2px solid #01AB7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

  </style>
</body>

{% endblock %}