{% extends "navbar.html" %} {% load static %} {% block titulo %}{% endblock %}
{% block contenido %}
<link href="{% static 'css/index.css' %}?v.1.11" rel="stylesheet" />

<body>
  <article class="gallery">
      <img src="{% static 'index_imagenes/gal_01.png' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_02.jpg' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_03.jpg' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_04.jpg' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_05.jpg' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_06.png' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_02.png' %}" alt="deadpool & marvel">
      <img src="{% static 'index_imagenes/gal_02.png' %}" alt="deadpool & marvel">
  </article>
</body>
{% endblock %}
