{% extends "navbar.html" %}
{% load static %}
{% block titulo %}Insumos Registrados{% endblock %}
{% block contenido %}

<!-- Bibliotecas para generación de PDFs y Excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.72/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

<!-- Solo usa una versión de html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<!-- html2pdf debe estar al final después de html2canvas -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="{% static 'css/consultar_insumo.css' %}?v={% now 'U' %}" rel="stylesheet"/>
<link href="{% static 'css/eliminar_insumo.css' %}?v={% now 'U' %}" rel="stylesheet" />

<div class="container">
    <h2 title="Insumos registrados">Insumos Registrados</h2>
    <div class="toolbar">
        <form id="search-form">
            <select id="search-select" title="Seleccionar criterio de búsqueda">
                <option value="todos">Todos</option>
                <option value="nombre">Nombre</option>
                <option value="descripcion">Descripción</option>
                <option value="proveedor">Proveedor</option>
                <option value="cantidad">Cantidad</option>
            </select>
            <input id="search-input" type="text" style="display: none;" placeholder="Buscar..." title="Buscar">
            <input class="btn btn-success" type="submit" value="Buscar" title="Buscar"/>
        </form>
        <p id="search-warning" style="color: red; display: none;"></p>

        <div class="opciones">
            <a class="opc" onclick="printTable()" title="Imprimir la lista de insumos">
                <i class="bi bi-printer"></i>
                <span>Imprimir</span>
            </a>
            <a class="opc" href="{% url 'reporte_excel_insumo' %}" role="button" data-tooltip="Descargar tabla en excel">
                <i class="fas fa-file-excel text-white"></i> <span>Descargar Excel</span>
            </a>
            <a class="opc" href="{% url 'reporte_pdf_insumo' %}" role="button" data-tooltip="Descargar tabla en pdf">
                <i class="fas fa-file-pdf text-white"></i> <span>Descargar PDF</span>
            </a>
<a class="opc" href="{% url 'agregar_insumo' %}" role="button" >
    <i class="fas fa-utensils"></i> Insumos
 <span>Crear insumo</span>
            </a>
        </div>
    </div>

    <div id="search-results">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th title="ID">ID</th>
                    <th title="Nombre">Nombre</th>
                    <th title="Unidad de medida">Unidad de medida</th>
                    <th title="Descripción">Descripción</th>
                    <th title="Proveedor">Proveedor</th>
                    <th title="Cantidad">Cantidad</th>
                    <th>Registrado por</th>
                    <th title="Acciones">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for insumo in insumos %}
                <tr>
                    <td title="Id del insumo">{{ insumo.id }}</td>
                    <td title="Nombre del insumo">{{ insumo.nombre }}</td>
                    <td title="Unidad de medida">{{ insumo.unidad_medida }}</td>
                    <td title="Descripción del insumo">{{ insumo.descripcion }}</td>
                    <td title="Nombre del proveedor">{{ insumo.proveedor.nombre }}</td>
                    <td title="Cantidad de insumos">{{ insumo.cantidad }}</td>
                    
                    {% if user.role == 'Administrador' %}
                    <td>
                       
                        <a href="javascript:void(0);" class="btn btn-danger" role="button" title="Eliminar insumo"
                        onclick="showConfirmModal(event, '{{ insumo.id }}', '{{ insumo.nombre }}');">
                            <i data-feather="trash"></i>
                        </a>
                    </td>
                    {% else %}
                    <td> <a href="{% url 'editar_insumo' pk=insumo.pk %}" class="btn btn-warning" title="Editar insumo">
                        <i data-feather="edit"></i>
                    </a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p id="no-results" style="display: none;" title="No se encontraron resultados">No se encontraron resultados.</p>
        <a class="btn btn-warning" href="{% url 'insumos' %}" role="button" title="Volver">Volver</a>
    </div><br>
</div>
    
<!-- Overlay -->
<div id="overlay" class="overlay" style="display: none;"></div>

<!-- Modal para eliminar insumo -->
<div class="card" id="eliminar_insumo" style="display: none;">
    <div class="card-header text-center">
        <h3 class="mb-0" title="Eliminar insumo"><b>ELIMINAR INSUMO</b></h3>
    </div>
    <div class="card-body">
        <p class="confirmation-message" style="text-align: center;">
            ¿Estás seguro de que quieres eliminar el insumo <span id="insumo-nombre"></span>?
        </p>
        <form method="post" id="delete-insumo-form">
            {% csrf_token %}
            <div class="card-footer">
                <input class="btn btn-danger" type="submit" value="Eliminar" title="Eliminar insumo"/>
                <a class="btn btn-warning" href="{% url 'consultar_insumo' %}" onclick="closeInsumoModal()" role="button" title="Cancelar">Cancelar</a>
            </div>
        </form>
    </div>
</div>


<!-- Marca de agua -->
<img src="{% static 'imagen/logo_hedybed.png' %}" class="watermark" alt="Marca de agua de la empresa">
<div id="watermark-url" data-url="{% static 'imagen/logo_hedybed.png' %}"></div>
<script>
    const watermarkUrl = "{% static 'imagen/logo_hedybed.png' %}";
</script>

<script src="{% static 'js/consultar_insumo.js' %}?v={% now 'U' %}"></script>
<script src="{% static 'js/eliminar_insumo.js' %}?v={% now 'U' %}"></script>

{% endblock %}
