{% extends "navbar.html" %}
{% block titulo %}Insumos{% endblock %}
{% block contenido %}
{% load static %}
<link href="{% static 'css/insumo.css' %}?v={% now "U" %}" rel="stylesheet" />
<main>
    <div class="background-image">
        <img src="{% static 'imagen/logol.png' %}" alt="Imagen de fondo">
      </div>
      <section class="insumos">
        <div class="nav_insumos">
            <h2>Gestión de Insumos <i data-feather="coffee"></i></h2>
        </div>
      </section>
</main>
{% endblock %}
