{% block titulo %}
    <title>Login</title>
{% endblock %}
{% load static %}
{% block contenido %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
<form method="post">
    <div id="container" class="container">
        <!-- FORM SECTION -->
        <div class="row">
            <!-- SIGN IN -->
            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-in">
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <button>
                            Sign in
                        </button>
                        <p>
                            <b>
                                Forgot password?
                            </b>
                        </p>
                    </div>
                </div>
            </div>
            <!-- END SIGN IN -->
        </div>
        <!-- END FORM SECTION -->
        <!-- CONTENT SECTION -->
        <div class="row content-row">
            <!-- SIGN IN CONTENT -->
            <div class="col align-items-center flex-col">
                <div class="text sign-in">
                    <h2>
                        Welcome Back
                    </h2>
                </div>
                <div class="img sign-in">
                    <!-- You can add an image here if desired -->
                </div>
            </div>
            <!-- END SIGN IN CONTENT -->
        </div>
        <!-- END CONTENT SECTION -->
    </div>
</form>
<script>
    let container = document.getElementById('container')

    // Since we only have sign-in now, we don't need the toggle function
    // You can remove this script block if you don't need any JavaScript functionality
</script>
{% endblock %}