{% block titulo %}
    <title>Login y Registro</title>
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="{% static 'css/login.css' %}?v={% now 'U' %}" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<div id="container" class="login-container">
    <div class="form-wrapper align-items-center">
        <div class="icon-title-container">
            <i class="bi bi-person-fill"></i>
            <h2>INICIAR SESION</h2>
        </div>        
        <form method="post" class="form sign-in">
            {% csrf_token %}

            <!-- Input de Nombre con Ícono -->
            <div class="input-group">
                <span class="input-group-text">
                    <i class="bi bi-person-vcard-fill"></i>
                </span>
                <input type="text" name="name" id="id_name" 
                    placeholder="Nombre" class="form-control" 
                    value="{{ form.name.value|default_if_none:'' }}">
                {% if form.name.errors %}
                    <span class="error">{{ form.name.errors }}</span>
                {% endif %}
            </div>

            <!-- Input de Contraseña con Ícono y Mostrar/Ocultar Contraseña -->
            <div class="input-group-password">
                <span class="input-group-text">
                    <i class="bi bi-file-lock2-fill"></i>
                </span>
                <input type="password" name="password" id="id_password" 
                    placeholder="Contraseña" class="form-control" oninput="togglePasswordVisibility()">
                <span class="input-group-text toggle-password" id="togglePassword" style="display: none;" onclick="togglePassword()">
                    <i class="bi bi-eye-slash-fill"></i> <!-- Ícono inicial (ojo cerrado) -->
                </span>
                {% if form.password.errors %}
                    <span class="error">{{ form.password.errors }}</span>
                {% endif %}
            </div>
            
            <button type="submit">Iniciar Sesión</button>
            <div class="options">
                {% if not hay_administrador %}
    <a href="{% url 'crear_perfil' %}">Regístrate</a>
{% endif %}
<a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>

            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/login.js' %}?v={% now 'U' %}"></script>
<script>
    $(document).ready(function() {
        $('#verificar').on('click', function() {
            $.ajax({
                url: '{% url "verificar_administrador" %}',  // URL para la vista
                method: 'GET',
                success: function(response) {
                    // Limpiar enlaces existentes
                    $('#enlaces').empty();

                    if (response.existe_administrador) {
                        // Si existe un administrador, mostrar solo el enlace para restablecer contraseña
                        $('#enlaces').append('<a href="{% url "password_reset" %}">¿Olvidaste tu contraseña?</a>');
                    } else {
                        // Si no existe un administrador, mostrar ambos enlaces
                        $('#enlaces').append('<a href="{% url "crear_perfil" %}">Regístrate</a>');
                        $('#enlaces').append('<a href="{% url "password_reset" %}">¿Olvidaste tu contraseña?</a>');
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error al verificar el administrador:", error);
                }
            });
        });
    });
</script>
{% endblock %}
