#transaction-form {
    background-color: #c9f7e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 20px 20px;
}
h3 {
    color: #000000; /* Color del texto */
    font-size: 1.5rem; /* Tamaño de la fuente */
    margin-bottom: 15px; /* Espacio debajo del elemento */
    font-family: 'Times New Roman', Times, serif; /* Familia de la fuente */
    font-weight: bold;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 1vh 0;
    border-radius: 40px;
}
.card-footer {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacio entre los botones */
}
.btn-success {
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-success:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    background-color: #096931;
    transform: translateY(-7px);
    color: white;
}

.btn-success:active {
    transform: translateY(-1px);
}
.btn-warning{
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-warning:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-warning:active {
    transform: translateY(-1px);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    box-sizing: border-box;
    margin-top: 2%;
}
#op_create{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 461px;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}
