main {
    margin-top: 0%;
    background-color: rgb(233, 173, 173);
}
.header-nav {
    margin-top: -7vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #01ab7b6e;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: fixed;
    overflow: hidden;
    width: 100vw; /* Adjusted to span the full viewport width */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px; /* Adjust as necessary */
    z-index: 9999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}
