body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 30%;
}
.card {
    background-color: #c9f7e8;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    padding-right: 0;
    border: none;
    
    padding: 20px;
    width: 80vh;
}
.card-header {
    color: aliceblue;
    background-color: #49ac72;
    margin-top: 0;
}
.name_user, .email_user, .phone_user, .rol_user {
    background-color: #49ac72;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

input.form-control {
    justify-content: center;
    align-items: center;
}
.card-body {
    padding: 20px;
}
.cambiar {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    animation: fadeInUp 0.8s ease-out;
}
.picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #007bff;
    transition: transform 0.3s ease;
}
.picture:hover {
    transform: scale(1.1);
}
.btn_cambiar_foto {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-footer {
    display: flex;
    justify-content: ;
    
}

.card-footer a {
    padding: 10px 20px;
    border-radius: 4px;
    
}


/* Keyframes para las animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInLeft {
    from { opacity: 0; transform: translateX(-20px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeInRight {
    from { opacity: 0; transform: translateX(20px); }
    to { opacity: 1; transform: translateX(0); }
}
/* Estilos del botón */
.btn-success {
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 30%;
    margin-left: 35%;
}

.btn-success:hover {
    background-color: #1eff62;
    box-shadow: 0px 15px 20px rgba(46, 229, 86, 0.61);
    color: #fff;
    transform: translateY(-7px);
}

.btn-success:active {
    transform: translateY(-1px);
}

a {
    text-decoration: none;
}