body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
/* Reglas de estilo generales */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-top: 15%;
    margin-left: 30%;
    width: 800px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.459);
    position: relative;
    overflow: hidden;
    background-color: #c9e4f7;
    border-radius: 20px;
}
