.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.nav_insumos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #23b68c;
    color: rgb(0, 0, 0); /* Text color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0; /* Adjust for design */
    margin-top: 8%;
    margin-left: 9%;
    border-radius: 20px;
    padding: 20px; /* Spacing */
    width: 87%;
}

.nav_insumos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 600% 600%;
    animation: gradientAnimation 15s ease infinite;
    z-index: 0;
}

.nav_insumos nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_insumos nav ul li {
    display: inline-block;
    margin: 0 20px; /* Espaciado ajustado */
    position: relative;
}

.nav_insumos nav ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    position: relative;
    padding: 10px 0; /* Ajuste de espaciado */
}
.nav_insumos nav ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: maroon; /* Color de la línea */
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav_insumos nav ul li a:hover::before {
    width: 100%; /* Ajuste de la animación al hover */
}

.section {
    background-color: rgba(238, 238, 238, 0.705);
    margin: 20px;
    padding: 20px; /* Incrementa el espacio interno */
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
    position: relative;
    overflow: hidden;
    margin-left: 9%;
    width: 87%;
}


.section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px; /* Tamaño de fuente */
    font-weight: 800; /* Grosor de fuente */
    margin-top: 0;
    text-align: center;
    color: black; /* Color de texto */
    text-transform: uppercase;
    letter-spacing: 1px; /* Espaciado de letras */
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.form-group {
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

form label {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-bottom: 8px;
    font-weight: 700; /* Grosor de fuente */
    color: white; /* Color de texto */
}

form input[type="text"],
form input[type="number"],
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form textarea:focus {
    outline: none;
    border-color: #4d4d4d; /* Color de borde al enfocar */
}


.report-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.report-card {
    background-color: #23b68c;
    color: white; /* Texto blanco */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    text-align: center;
    width: 30%; /* Ancho ajustado */
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
}
.report-card:hover {
    transform: translateY(-5px);
}

.report-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.report-card a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.report-card a:hover {
    color: black;
}
/* Estilos para pantallas de mesa */
@media (min-width: 1367px) {
    .nav_insumos {
        margin-top: 2%;
        margin-left: 9%;
    }
  }