main {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 6%;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin: 20px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}



input[type="text"] {
    width: 100%;
    max-width: 700px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

input[type="text"]:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

input[type="text"]:active {
    transform: scale(0.95);
}

input[type="text"]:focus {
    border: 2px solid rgb(116, 116, 116);
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.table-responsive { 
    width: 100%;
    overflow-x: auto;
}

.table th, .table td {
    padding: 20px;
    font-size: 16px;
    width: auto;
    text-align: left;
    white-space: nowrap;
}

.btn-success {
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-success:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-success:active {
    transform: translateY(-1px);
}
.btn-warning{
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 50vh;
}

.btn-warning:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-warning:active {
    transform: translateY(-1px);
}



@media print {
    body * {
        visibility: hidden;
    }
    .table, .table * {
        visibility: visible;
    }
    .table {
        position: static; 
        width: 100%; 
        margin: 0; 
        padding: 0;
    }
}
main {
    margin-top: 15vh;
    margin-left: 15vh;
  }