main {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 6%;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin: 20px;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}



input[type="text"] {
    width: 100%;
    max-width: 700px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

input[type="text"]:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

input[type="text"]:active {
    transform: scale(0.95);
}

input[type="text"]:focus {
    border: 2px solid rgb(116, 116, 116);
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.table-responsive { 
    width: 100%;
    overflow-x: auto;
}

.table th, .table td {
    padding: 20px;
    font-size: 16px;
    width: auto;
    text-align: left;
    white-space: nowrap;
}

.btn-success {
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-success:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-success:active {
    transform: translateY(-1px);
}
.btn-warning{
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 50vh;
}

.btn-warning:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-warning:active {
    transform: translateY(-1px);
}



@media print {
    body * {
        visibility: hidden;
    }
    .table, .table * {
        visibility: visible;
    }
    .table {
        position: static; 
        width: 100%; 
        margin: 0; 
        padding: 0;
    }
}
/*Pantalla de escritorio*/
@media (min-width: 1367px) {

    main {
        margin-top: 15vh;
        margin-left: 15vh;
      }
  }
  /* From Uiverse.io by barisdogansutcu */ 
.love-heart:before,#switch {
    display: none;
   }
   
   .love-heart, .love-heart::after {
    border-color: hsl(231deg 28% 86%);
    border: 1px solid;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 10px;
    height: 8px;
    border-bottom: 0
   }
   
   .round {
    position: absolute;
    z-index: 1;
    width: 8px;
    height: 8px;
    background: hsl(0deg 0% 100%);
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 4px 0px;
    border-radius: 100%;
    left: 0px;
    bottom: -1px;
    transition: all .5s ease;
    animation: check-animation2 .5s forwards;
   }
   
   input:checked + label .round {
    transform: translate(0px, 0px);
    animation: check-animation .5s forwards;
    background-color: hsl(0deg 0% 100%);
   }
   
   @keyframes check-animation {
    0% {
     transform: translate(0px, 0px);
    }
   
    50% {
     transform: translate(0px, 7px);
    }
   
    100% {
     transform: translate(7px, 7px);
    }
   }
   
   @keyframes check-animation2 {
    0% {
     transform: translate(7px, 7px);
    }
   
    50% {
     transform: translate(0px, 7px);
    }
   
    100% {
     transform: translate(0px, 0px);
    }
   }
   
   .love-heart {
    box-sizing: border-box;
    position: relative;
    transform: rotate(-45deg) translate(-50%, -33px) scale(4);
    display: block;
    border-color: hsl(231deg 28% 86%);
    cursor: pointer;
    top: 0;
   }
   
   input:checked + .love-heart, input:checked + .love-heart::after, input:checked + .love-heart .bottom {
    border-color: hsl(347deg 81% 61%);
    box-shadow: inset 6px -5px 0px 2px hsl(347deg 99% 72%);
   }
   
   .love-heart::after, .love-heart .bottom {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-color: hsl(231deg 28% 86%);
   }
   
   .love-heart::after {
    right: -9px;
    transform: rotate(90deg);
    top: 7px;
   }
   
   .love-heart .bottom {
    width: 11px;
    height: 11px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: hsl(231deg 28% 86%);
    left: -1px;
    top: 5px;
    border-radius: 0px 0px 0px 5px;
   }
   /* From Uiverse.io by gharsh11032000 */ 
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: rgb(60, 255, 34);
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }