.container {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

.card_uno {
    width: 50%;
    padding: 20px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideIn 0.8s ease-in-out;
}

.card_dos {
    width: 550px;
    height: 720px;
    background: #679B9B;
    padding: 20px 20px 50px 20px;
    color: #fff;
    border-radius: 17px;
    animation: popIn 1s ease-in-out;
}
.input-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el campo de entrada */
    margin-bottom: 15px; /* Espacio debajo del grupo de entrada */
}

.input-group i {
    font-size: 24px; /* Tamaño del icono */
    color: #333; /* Color del icono */
}

.input-group label {
    display: none; /* Ocultar el label ya que no se está usando para mostrar texto */
}

.input-group .profile_picture {
    flex: 1; /* El campo de entrada ocupa el espacio disponible */
    padding: 8px; /* Espacio interno del campo de entrada */
    border: 1px solid #ddd; /* Borde del campo de entrada */
    border-radius: 4px; /* Bordes redondeados del campo de entrada */
}

.input-group .error {
    color: red; /* Color del texto de error */
    font-size: 12px; /* Tamaño del texto de error */
    margin-left: 10px; /* Espacio entre el campo de entrada y el mensaje de error */
}
