.conta {
    padding-top: 10vh;

}

.container {
    height: 50%;
    padding: 20px; /* Espaciado interno */
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
    align-items: center; /* Centra horizontalmente los elementos dentro del contenedor */
    justify-content: center; /* Centra verticalmente */
}

#bienvenida {
    background-color: #c9e4f7;
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    text-align: center; /* Centra el texto */
    width: 70vh; /* Ancho del elemento */
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin-top: 0;
    text-align: center;
    font-weight: 700; /* Fuente más negrita */
    color: black; /* Color de texto oscuro */
}

/* Estilos para las acciones del usuario */
#user-actions {
    background-color: #c9e4f7;
    margin-top: 30px;
    text-align: center;
    width: 70vh; 
    padding: 20px; /* Añade un poco de espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#user-actions ul {
    list-style-type: none;
    padding: 0;
}

#user-actions ul li {
    margin-bottom: 10px;
}

.btn {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
    transform: translateY(-3px);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all .3s;
}

.btn:hover::after {
    background-color: #53bee9;
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}
.list-group-item{
    background-color: rgba(0, 255, 255, 0);
    border:none
}
.list-group-item a{
    border: none;
}
.profile-picture img{
    border-radius: 90px;
}
.btn-success {
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: #000;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 30%;
    margin-left: 35%;
    
}

.btn-success:hover {
    background-color: #1e90ff;
    box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.61);
    color: #fff;
    transform: translateY(-7px);
}

.btn-success:active {
    transform: translateY(-1px);
}

/*modo oscuro*/
main{
    background-color: #000;
    height: 89vh;
    width: 89vh;
}