
{% load static %}
{% block contenido %}
<style>
body.dark .card{
        background: linear-gradient(110deg, #717f8f93, #6e6e6ee8);
    }
    body.dark h1,
    body.dark label{
        color: white;
    }
</style>
<style>
    .card {
        position: relative;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        text-align: center;
        width: 510px;
        padding: 20px;
        height: 200px;
        background: linear-gradient(110deg, #c7def893, #ffffffe8);
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.233);
        border: 2px solid rgba(2, 47, 90, 0.63);
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        padding: 10px 20px;
        border-radius: 10px;
        transition: background-color 0.3s ease;
        font-weight: bold;
        border: 1px solid black;
    }

    a:hover {
        background-color: rgb(33, 74, 187);
        color: white;
    }
</style>
<br>
<div class="card">
    <h2>Contraseña restablecida</h2>
    <p>Tu contraseña ha sido restablecida exitosamente. </p>

    <br>
    <p>Ahora puedes iniciar sesión .</p>
    <a href="{% url 'libreria:login' %}" title="Volver al inicio">Volver al inicio.</a>.
    {% endblock %}