{% extends "navbar.html" %}

{% load static %}

{% block titulo %}  {% endblock %}

{% block contenido %}
<link href="{% static 'css/editar_perfil.css' %}?v.1.2" rel="stylesheet" />
<main>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Editar Usuario</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="cambiar_">
                        <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="rounded-circle">
                        <div class="btn btn-danger">
                            <label for="profilePic" class="btn_cambiar_foto">
                                Cambiar foto
                                <input type="file" id="profilePic" class="d-none">
                            </label>
                        </div>
                    </div>
                    </div>
                    <div class="name_user">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" value="Juan Pérez">
                    </div>
                    <div class="email_user">
                        <label for="email">Correo electrónico:</label>
                        <input type="email" class="form-control" id="email" value="juan.perez@ejemplo.com">
                    </div>
                    <div class="phone_user">
                        <label for="phone">Teléfono:</label>
                        <input type="tel" class="form-control" id="phone" value="+1234567890">
                    </div>
                    <div class="rol_user">
                        <label for="role">Rol:</label>
                        <select class="form-control" id="role">
                            <option>Usuario</option>
                            <option selected>Administrador</option>
                            <option>Editor</option>
                        </select>
                    </div>
                </form>
                <div class="card-footer">
                    <form action="your_form_action_url" method="post">
                        <!-- Your form fields here -->
                        <ul class="list-group d-flex">
                            <a class="btn-success">Guardar cambios</a><br>
                            <a class="btn-success" href="{% url 'editar_perfil' %}">Cancelar</a><br>
                        </ul>
                    </form>
                    
                </div>
            </div>
            
        </div>
    </div>
</main>
{% endblock%}