{% extends "navbar.html" %}

{% load static %}

{% block titulo %}  {% endblock %}

{% block contenido %}
<link href="{% static 'css/new_pasword.css' %}" rel="stylesheet" />
<main>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center mb-0"><b>Cambiar Contraseña</b></h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="password_actual">
                        <label for="currentPassword" class="form-label fw-bold">Contraseña actual:</label>
                        <input type="password" class="form-control" id="currentPassword" required>
                    </div>
                    <div class="new_password">
                        <label for="newPassword" class="form-label fw-bold">Nueva contraseña:</label>
                        <input type="password" class="form-control" id="newPassword" required>
                    </div>
                    <div class="new_password">
                        <label for="confirmPassword" class="form-label fw-bold">Confirmar nueva contraseña:</label>
                        <input type="password" class="form-control" id="confirmPassword" required>
                    </div>
                    <div class="mensaje">
                        <div class="form-text">
                            La contraseña debe tener al menos 8 caracteres, incluir una letra mayúscula, una minúscula, un número y un carácter especial.
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <a class="btn btn-success" href="#">Guardar cambios</a>
                <a class="btn btn-success" href="{% url 'usuario' %}">Cancelar</a>
            </div>
        </div>
    </div>
</main>
{% endblock%}