{% extends "navbar.html" %}
{% block titulo %}
    <title>Login y Registro</title>
{% endblock %}
{% load static %}
{% block css %}
<link href="{% static 'css/registro.css' %}?v1.7" rel="stylesheet" />
{% endblock %}
{% block contenido %}
<main>
    <section>
        <div class="container">
            <div class="card_uno">
                <div class="card_dos">
                    <h2>Crear perfil </h2>
                    <form method="post" enctype="multipart/form-data" class="form sign-up">
                        {% csrf_token %}
                        <div class="input-group">
                            <label for="imageUpload"></label>
                            <input type="file" id="imageUpload" name="profile_picture">
                            {% if form.profile_picture.errors %}
                            <span class="error">{{ form.profile_picture.errors }}</span>
                        {% endif %}

                        </div>
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <input type="text" name="nombre" placeholder="Nombre" value="{{ form.name.value|default_if_none:'' }}">
                            {% if form.name.errors %}
                            <span class="error">{{ form.name.errors }}</span>
                        {% endif %}

                        </div>
                        <div class="input-group">
                            <i class='bx bx-mail-send'></i>
                            <input type="email" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}">
                            {% if form.email.errors %}
                            <span class="error">{{ form.email.errors }}</span>
                        {% endif %}
                        </div>
                        <div class="form-group">
                            <i class='b'></i>
                            <select name="rol" required id="op_create">
                                <option value="" selected disabled>Selecciona una opción </option>
                                {% for choice, label in form.role.field.choices %}
                                <option value="{{ choice }}" {% if form.role.value == choice %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                            </select>
                            {% if form.role.errors %}
                            <span class="error">{{ form.role.errors }}</span>
                        {% endif %}

                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="text" name="telefono" placeholder="Telefono" value="{{ form.phone.value|default_if_none:'' }}">
                            {% if form.phone.errors %}
                            <span class="error">{{ form.phone.errors }}</span>
                        {% endif %}

                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="contraseña" placeholder="Contraseña">
                            {% if form.password.errors %}
                            <span class="error">{{ form.password.errors }}</span>
                        {% endif %}

                        </div>
                        <div class="input-group">
                            <i class='bx bxs-lock-alt'></i>
                            <input type="password" name="contraseña2" placeholder="Confirma Contraseña">
                            {% if form.confirm_password.errors %}
                            <span class="error">{{ form.confirm_password.errors }}</span>
                        {% endif %}

                        </div>
                        <button type="submit">Registrarse</button>

                            Sig
                        </button>
                
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

