{% extends "navbar.html" %}
{% block titulo %}
    <title>Login y Registro</title>
{% endblock %}

{% load static %}

{% block css %}
{% endblock %}
<link href="{% static 'css/registro.css' %}?v1.8" rel="stylesheet" />
{% block contenido %}
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN UP -->
        <div class="col align-items-center flex-col sign-up">
            <div class="card">
                
            </div>
        </div>
        <!-- END SIGN UP -->
    </div>
    <!-- END FORM SECTION -->

{% endblock %}

{% block js %}
<script src="{% static 'js/login.js' %}?v1.2"></script>
{% endblock %}
