/* General Styles */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.1vh;
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

/* Container Styles */
.container {
    width: 90%;
    max-width: 1200px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    border: 2px solid #01AB7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

/* Welcome and User Actions Styles */
#bienvenida {
    background-color: #e4eaf1;
    padding: 8px 20px;  /* Reducido para que sea más pequeño */
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 8px; /* Menor margen para que esté más arriba */
    animation: fadeIn 0.6s ease;
    font-size: 1.4rem;  /* Tamaño de fuente reducido */
}

#user-actions {
    background-color: #e4eaf1;
    padding: 16px 20px;  /* Reducido para que sea más pequeño */
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-bottom: 16px;
    animation: fadeIn 0.6s ease;
}

/* Typography */
h2 {
    font-size: 1.8rem;  /* Tamaño de fuente reducido */
    margin-top: 0;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    transition: color 0.3s;
}

h2:hover {
    color: #1d8f6fa1;
}

p {
    font-size: 17px;  /* Tamaño de fuente reducido */
}

/* User Actions List */
#user-actions ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#user-actions ul li {
    margin: 8px;  /* Ajustado para que sea más pequeño */
}

.list-group-item {
    background-color: transparent;
    border: none;
}

/* Profile Picture */
.profile-picture img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 100px;  /* Reducido para que sea más pequeño */
    height: 100px; /* Reducido para que sea más pequeño */
    border: 2px solid #01AB7B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.profile-picture img:hover {
    transform: scale(1.1);
}

/* Button Styles */
.btn-success {
    padding: 0.4em 1em;  /* Reducido para que sea más pequeño */
    font-size: 0.8rem;  /* Tamaño de fuente reducido */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    background-color: #01AB7B;
    border: none;
    border-radius: 30px 0px 30px 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.btn-success:hover {
    background-color: rgba(1, 171, 123, 0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.btn-success:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Background Effect */
body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.05);
    z-index: -1;
    animation: pulse 4s infinite;
}

/* Responsive Styles */
@media (max-width: 1366px) {
    main {
        height: 86.8vh;
        margin: 4% 8% 0 15%; /* Alineación más a la derecha */
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        flex-direction: row;
    }

    #bienvenida {
        width: 60vh;
        margin: 10px 0; /* Ajustar margen superior */
        font-size: 1.2rem;  /* Tamaño de fuente reducido */
        padding: 5px 15px;  /* Ajustar padding para que sea más pequeño */
    }

    #user-actions {
        width: 60vh;
        margin: 20px;
        padding: 10px 15px; /* Ajustar padding para que sea más pequeño */
    }

    h2 {
        font-size: 1.5rem;  /* Tamaño de fuente reducido */
    }

    p {
        font-size: 15px;  /* Tamaño de fuente reducido */
    }
}

@media (min-width: 1367px) {
    main {
        height: 91.7vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        flex-direction: column;
    }

    #bienvenida {
        width: 70vh;
        margin: 10px 0; /* Ajustar margen superior */
        font-size: 1.5rem;  /* Tamaño de fuente reducido */
        padding: 10px 20px;  /* Ajustar padding para que sea más pequeño */
    }

    #user-actions {
        width: 70vh;
        padding: 15px 20px; /* Ajustar padding para que sea más pequeño */
    }

    .btn-success {
        width: 30%;
        margin-left: 35%;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    body {
        margin-top: 0;
    }

    main {
        height: auto;
        margin: 0;
        padding: 10px;
    }

    .container {
        width: 95%;
        padding: 15px;
        margin: 10px auto;
    }

    #bienvenida {
        width: 100%;
        margin: 5px 0; /* Ajustar margen superior */
        font-size: 1.2rem;  /* Tamaño de fuente reducido */
        padding: 10px;  /* Ajustar padding para que sea más pequeño */
    }

    #user-actions {
        width: 100%;
        margin: 10px 0;
        padding: 10px; /* Ajustar padding para que sea más pequeño */
    }

    h2 {
        font-size: 1.5rem;  /* Tamaño de fuente reducido */
    }

    p {
        font-size: 16px;  /* Tamaño de fuente reducido */
    }

    .profile-picture img {
        width: 80px;
        height: 80px;
    }

    .btn-success {
        width: 100%;
        margin: 5px 0;
        font-size: 0.8rem;  /* Tamaño de fuente reducido */
        padding: 0.4em 1em;  /* Reducido para que sea más pequeño */
    }
}

/* Small Mobile Devices */
@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}
