/* Estilos generales */
body {
    margin-top: 11vh;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px;
    background-color: #eaeaea; 
    padding: 20px; 
}

.container {
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: flex-end; /* Alinear el contenido a la derecha */
    align-items: center;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%; 
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 50px rgba(0, 0, 0, 0.3);
}

.card-header {
    background-color: #01AB7B; 
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.card-header h3 {
    margin: 0;
    font-size: 24px; 
    text-transform: uppercase; 
}

.card-body {
    text-align: center;
}

.profile_picture img {
    border-radius: 50%;
    width: 150px; 
    height: 150px; 
    margin-bottom: 15px;
    border: 3px solid #49ac72; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.detail {
    background: rgba(240, 240, 240, 0); 
    border-radius: 12px; 
    padding: 10px 15px; 
    width: 100%; 
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0); 
}

.detail span {
    position: relative; 
}

.btn-warning {
    padding: 0.5em 1.5em; 
    font-size: 14px;
    text-transform: uppercase;
    color: #fff; 
    background-color: #01AB7B; 
    border: none; 
    border-radius: 25px; 
    margin-top: 20px;
    transition: all 0.3s ease;
    cursor: pointer; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.btn-warning:hover {
    background-color: #019B69; 
    transform: scale(1.05); 
}

a {
    text-decoration: none;
}

/* Media Queries para Responsividad */
@media (max-width: 668px) {
    body {
        margin-top: 5vh; /* Ajustar margen superior */
        font-size: 16px; /* Disminuir tamaño de fuente */
        padding: 10px; /* Reducir padding */
    }

    .container {
        margin: 30px auto; /* Reducir margen */
        width: 70%;
        margin-top: 17%;
    }

    .card {
        padding: 20px; /* Reducir padding de la tarjeta */
    }

    .card-header {
        padding: 15px; /* Reducir padding del encabezado */
    }

    .card-header h3 {
        font-size: 20px; /* Reducir tamaño del título */
    }

    .profile_picture img {
        width: 120px; /* Reducir tamaño de la imagen */
        height: 120px; /* Reducir tamaño de la imagen */
        margin-bottom: 10px; /* Reducir margen inferior */
    }

    .user-details {
        gap: 8px; /* Reducir espacio entre detalles */
    }

    .detail {
        padding: 8px 12px; /* Reducir padding */
    }

    .btn-warning {
        padding: 0.4em 1.2em; /* Reducir padding del botón */
        font-size: 12px; /* Reducir tamaño de fuente del botón */
    }

    .btn-warning:hover {
        transform: scale(1.03); /* Ajustar efecto de hover */
    }
}
