{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>{% block titulo %}Lacteos Hedybed{% endblock %}</title>
  {% block css %}{% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="{% static 'css/navbar.css' %}?v.1.12" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body id="body">
  <header>
    <img src="{% static 'imagen/logo_hedybed-sf.png' %}" width="70" alt="Logo-Hedybed"><br>
    <h1>LACTEOS HEDYBED</h1>

    {% if request.session.user_name %}
      <div class="user"><br>
        <a href="{% url 'logout_view' %}" class="logout-link">
          <div class="opcion">
            <i class="fas fa-sign-out-alt"></i>
          </div>
        </a>
        <span>Usuario: {{ request.session.user_name }}</span>
      </div>
    {% else %}
    <a href="{% url 'login_view' %}" class="login-link">Login</a>
    {% endif %}
  </header>

  <main>
    <div class="menu" id="menu">
      <div class="icon_menu">
        <i class="bi bi-list" id="btn_open"></i>
      </div>

      <div class="opciones_menu">
        <a href="{% url 'inicio' %}" class="select">
          <div class="opcion">
            <i class="bi bi-house-fill" title="Inicio"></i>
            <h4 class="text-hidden">Inicio</h4>
          </div>
        </a>
        <a href="{% url 'usuario' %}">
          <div class="opcion">
            <i class="bi bi-people-fill" title="Usuario"></i>
            <h4 class="text-hidden">Usuario</h4>
          </div>
        </a>
        <a href="{% url 'contabilidad' %}">
          <div class="opcion">
            <i class="bi bi-calculator" title="Contabilidad"></i>
            <h4 class="text-hidden">Contabilidad</h4>
          </div>
        </a>
        <a href="{% url 'insumos' %}">
          <div class="opcion">
            <i class="fas fa-cheese" title="Insumos"></i>
            <h4 class="text-hidden">Insumos</h4>
          </div>
        </a>  
      </div>

      <label for="toggle">
        <i class="fas fa-moon fa-2x" width="20" id="luna"></i>
      </label>
      <input type="checkbox" id="toggle">
    </div>
    {% block contenido %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
  </main>
  <footer>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="{% static 'js/navbar.js' %}"></script>

  <script>
    document.getElementById("btn_open").addEventListener("click", open_close_menu);

    var menu = document.getElementById("menu");
    var body = document.getElementById("body");

    function open_close_menu() {
      body.classList.toggle("body_mov");
      menu.classList.toggle("menu_mov");
    }

    function darkMode() {
  var toggle = document.getElementById('toggle');

  toggle.checked = localStorage.getItem('darkMode') === 'true';

  toggle.addEventListener('change', function(event) {
    if (event.target.checked) {
      document.body.classList.add('dark');
      localStorage.setItem('darkMode', true);
    } else {
      document.body.classList.remove('dark');
      localStorage.setItem('darkMode', false);
    }
  });

  // Aplicar el modo oscuro al cargar la página si está activo
  if (toggle.checked) {
    document.body.classList.add('dark');
  }
}

document.addEventListener('DOMContentLoaded', darkMode);

<!--Aumentar o disminuir el tamaño de la fuente-->
document.addEventListener("DOMContentLoaded", function(){
  const increaseFontBtn = document.getElementById("increase-font");
  const decreaseFontBtn = document.getElementById("decrease-font");
  const rootElement = document.documentElement;
  // Establece el tamaño de fuente inicial desde localStorage si está disponible
  const storedFontSize = localStorage.getItem("fontSize");
  if (storedFontSize){
    rootElement.style.fontSize = storedFontSize;
  }
  // Función para cambiar el tamaño de fuente
  function changeFontSize(amount){
    let currentSize = parseFloat(window.getComputedStyle(rootElement).fontSize)
    let newSize = currentSize + amount;

    //Actualiza el tamaño de fuente del elemento raíz
    rootElement.style.fontSize = newSize + "px";
    // Almacena el nuevo tamaño en localStorage
    localStorage.setItem("fontSize", rootElement.style.fontSize);
  }
    // Event listeners for the buttons
    increaseFontBtn.addEventListener("click", function(){
      changeFontSize(2);//incrementa el tamaño por 2 px
    });
    decreaseFontBtn.addEventListener("click", function(){
      changeFontSize(-2);//incrementa el tamaño por 2 px
    });
});
  </script>
  {% block js %}
  {% endblock %}
</body>
</html>