{% block titulo %}
    <title>Login y Registro</title>
{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'css/login.css' %}?v={% now 'U' %}" rel="stylesheet" />
{% endblock %}

{% block contenido %}
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">
                <form method="post" class="form sign-in">
                    {% csrf_token %}
                    <div class="input-group">
                        <i class='bx bxs-user'></i>
                        <input type="email" name="correo" id="id_name" 
                               placeholder="Correo" class="form-control" 
                               value="{{ form.name.value|default_if_none:'' }}">
                        {% if form.name.errors %}
                            <span class="error">{{ form.name.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="input-group">
                        <i class='bx bxs-lock-alt'></i>
                        <input type="password" name="password" id="id_password" 
                               placeholder="Contraseña" class="form-control">
                        {% if form.password.errors %}
                            <span class="error">{{ form.password.errors }}</span>
                        {% endif %}
                    </div>
                    <button type="submit">
                        Iniciar Sesión
                    </button>
                    <div class="opciones">
                        {% if not admin_exists %}
                        <!-- Si no hay administrador, mostrar opción de registro -->
                        <a href="{% url 'libreria:crear_perfil' %}">Regístrate</a>
                    {% endif %}
                </div>
                <a href="{% url 'libreria:password_reset' %}">¿Olvidaste tu contraseña?
                </form>
            </div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->

    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2>Bienvenido a HEDY_NET</h2>
            </div>
            <div class="img sign-in"></div>
        </div>
        <!-- END SIGN IN CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/login.js' %}?v1.2"></script>
{% endblock %}